<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% unless locals.empty? %>
      <h1><%= message %></h1>
    <% end %>
    <h1>Welcome!</h1>
    <h1>You Have The Opportunity to Create Your Very Own Bucket List!</h1>
    <h2>Please Select <a href="/signup">Signup</a> or <a href="/login">Login</a>.</h2>
  </body>
</html>